h1 {
   font-family: sans-serif;
   color: red;
   text-align: center;
}

table {
   margin-left: auto;
   margin-right: auto;
   border-collapse: collapse;
}

.square {
   border: 1px solid blue;
   font-size: 36px;
   text-align: center;
}

.boardWholeRow:nth-of-type(odd) .square:nth-of-type(even),
.boardWholeRow:nth-of-type(even) .square:nth-of-type(odd) {
   background-color: #AAA;
}

.square:hover {
   background-color: #3c884d !important;
   cursor: pointer;
}

.boardRow {
   height: 46px;
}

.boardFile {
   width: 46px;
}

.coordLabel{
   text-align: center;
   font-size: 16px;
   font-family: sans-serif;
   font-weight: bold;
}

#debugSquare {
   font-size: 12px;
   margin-left: auto;
   margin-right: auto;
   width: 380px;
   height: 200px;
   border: 1px solid blue;
   overflow: scroll;
}

.cartLabel {
   display: initial;
}

.anLabel {
   display: none;
}

#controls {   
   margin-left: auto;
   margin-right: auto;
   padding: 4px 0px;
   width: 380px;
}